h2{
    text-align: center;
    color: white;
}
body{
    background-color: black;

}
footer{
    color: white;
    text-align: center;
}
h3 {
    text-align: center;
}

button{
    position: absolute;
    transform: translate(580%,50%);
    padding: 10px;
    background: #fff;
    border: none;
    outline: none;
    font-size: 10px;
    text-transform: uppercase; 
    cursor: pointer;



}
a {
    text-decoration: none;
    color: rgb(255, 255, 158)
}
p {
    text-align: start;
    color: rgb(161, 48, 133);

}
main h2{
    color: rgb(175, 111, 28); 
}