header h1 {
    color: white;
    text-align: center
}
h2 {
    text-align: start;
    color: rgb(99, 9, 9);

}
main p {
    color: slategray;

    text-align: center
}

body {
    margin: 0%;
    padding: 0%;
    background-color: black
}

button{
    position: absolute;
    transform: translate(580%,50%);
    padding: 10px;
    background: #fff;
    border: none;
    outline: none;
    font-size: 10px;
    text-transform: uppercase; 
    cursor: pointer;



}

h3 {
    text-align: center;
}
a {
    text-decoration: none;
    color: rgb(255, 224, 158)
}
footer{
    color: white;
    text-align: center;
}